@media (max-width:768px) {
     section {
        gap:30px;
        flex-wrap: wrap;
    }
}

.hero-holder-right{
    transform: translate(100px,55px);
}

.hero-holder-right > div{
    width: 400px;
}

@media (max-width:1200px) {
    .hero-holder-right{
        display: none;
    }
}

.hero-holder-left{
    flex-grow: 1;
}


.hero-holder-left h2{
    font-size: 1.95rem;
    line-height: 2.3rem;
    text-wrap: wrap;
    margin: 10px 0 10px;
    color: var(--title);
    text-wrap: balance;
}


.hero-holder-left p{
    color: var(--subtitle);
    font-size: .9rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
    text-wrap: balance;
}

@media (max-width:500px){
    h1{
        font-size: 1.85rem;
    }

    p{
        font-size: .7rem;
    }
}


.icons{
    gap: 1.2rem;
}

.icons .icon{
    font-size: 1.2rem;
    transition: var(--main-trans);
    color: var(--subtitle);
    cursor:pointer
}

.icons .icon:hover{
    color:var(--icon-change);
}

.avatar-holder img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

span > div{
    width:100px;
    margin-left: 6%;
    margin-top:-40px;
}