/* h1{ */
    /* font-size: 2rem;
    text-align: left;
    font-family: cursive;
    letter-spacing: 2px; */
/* } */

.skills-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top:50px;
}

.skills-list .skills-item {
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    word-break: break-all;
}

.skills-list .skills-item i {
    font-size: 4rem;
    color: #AB58D3;
}

.skills-list img {
    width: 4rem;
    height: 3.5rem;
}

.skills-list h5{
    font-weight: 300;
    text-transform: none;
    color:whitesmoke;
    text-transform:capitalize;
    color: var(--title);
}