main {
    gap: 1rem;
    flex-wrap: wrap;
    align-items: start !important;
    width: 100%;
}

main section.left-side {
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    width:fit-content;
}

main section.left-side button {
    background-color: rgba(36, 37, 46, 1);
    opacity: .5;
    width: 11rem;
    padding: .75rem 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.05rem;
    font-weight: bold;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-trans);
}

main section.left-side button:hover,
main section.left-side button.active {
    border: 2px solid var(--blue);
    opacity: 1;
}

main section.right-side {
    column-gap: 16px;
    row-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: calc(76% - 6.8rem);
}

main section.right-side .card {
    width: 100%;
    border: 1px solid rgba(93, 188, 252, .3);
    transition: var(--main-trans);
    overflow: hidden;
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05));
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.16), 1px 1px 1px rgba(0, 0, 0, 0.15);
}

main section.right-side button{
    background-color: rgba(25, 118, 210, 0.85);
    /* width: 2.6rem; */
    /* height: 2.6rem; */
    padding: 1rem 3rem;
    border-radius: 5px;
    
    color: #fff;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    animation: .1s appear;
}

main section.right-side .card:hover {
    border: 1px solid var(--blue);
    
    transform: rotate(1deg);
    scale: 1.01;
    cursor: pointer;
}


main section.right-side .card>div img {
    width: 100%;
    height:200px;
    border-radius: 5px;
}

main section.right-side .card>div.project-info {
    padding: 1rem .4rem;
    width: 100%;
}

main section.right-side .card>div.project-info h3 {
    color: var(--title);
    text-transform: capitalize;
}

main section.right-side .card>div.project-info p {
    /* color: var(--subtitle); */
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 1.1rem;
}

main section.right-side .card>div.project-info div.discover-project {
    justify-content: space-between;
    width: 100%;
}   

main section.right-side .card>div.project-info div.discover-project div.flex {
    gap: 10px;
}

main section.right-side .card>div.project-info div.discover-project .icon:not(.icon-arrow-right2){
    font-size: 1.2rem;
    color: var(--subtitle);
    cursor: pointer;
}

main section.right-side .card>div.project-info div.discover-project a{
    font-size: 0.9rem;
    color: var(--blue);
    margin-right: 12px;
    align-items: center;
    gap: 5px;
}

.showall-holder{display: flex;
justify-content: flex-end;}
.showall-holder button{
    background-color: rgba(25, 118, 210, 0.85);
    
    padding: .6rem 2rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    
}
@media (max-width:1036px) {
    main section.right-side {
        width:69%;
    }
    main{
        justify-content: center;
    }
}