@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #181818;
    --secondary: rgb(24 24 27);
    --text-clr: #f4f4f4;
    --border-clr: rgba(63, 63, 70, 0.4);
    --title: rgb(244, 244, 245);
    --subtitle: rgb(161, 161, 170);
    --bg-header: rgb(39 39 42);
    --bg-modal: rgb(10, 10, 12);
    --blue: rgb(93, 100, 252);
    --main-trans: .5s;
    --icon-change: #d4d4d8;
    --container-padding: 4.8rem;
}

html {
    scroll-behavior: smooth;
}

.light {
    --primary: rgb(240,240,240);
    --secondary: rgb(255,255,255);
    --border-clr: rgba(202 ,202 ,202 ,.518);

    --title: rgb(39, 39, 42);
    --subtitle: rgb(82, 82, 91);

    --bg-header: rgb(253, 253, 253);
    --blue:rgb(0, 149, 246);
    --icon-change:#333;
    --bg-modal: rgb(255, 255, 255);

}

body {
    background-color: var(--primary);
    color: var(--text-clr);
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 80%;
    border: 1px solid var(--border-clr);
    background-color: var(--secondary);
    padding: 20px var(--container-padding) 0;
}


.separator {
    border-bottom: 1px solid var(--border-clr);
    margin: 3rem 0;
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
}

@media (max-width: 1000px) {
    .container {
        --container-padding: 1.7rem;
        width: 90%;
        padding: 10px var(--container-padding);
    }

    .divider {
        width: calc(100% + var(--container-padding) + var(--container-padding));
        margin-left: calc(var(--container-padding) * -1);
    }
}

@media (max-width: 600px) {
    .container {
        width: 98%;
        padding: 10px var(--container-padding);
    }

    .scroll2Top {
        width: 2.2rem;
        height: 2.2rem;
        opacity: 0.6;
        font-size: 1rem;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    transition: var(--main-trans);
}

.flex {
    display: flex;
    align-items: center;
}

.border {
    border: 1px solid;
}

section {
    margin: 1.5rem;
}

.scroll2top {
    background-color: rgba(25, 118, 210, 0.85);
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 3%;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: white;
    animation: 1s appear;
}



@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

